body{background:#cb9cf3;}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.form-control{
    border-radius: 25px
}
#game-name{
    color:white;
}
.btn{
    border: none;
    border-radius: 25px;
    width: 150px;
}
.btn-default{
    background-color: white;
}
#code-student{justify-content: space-evenly;}
h3{text-align: center;}