body{background:#cb9cf3;}
#navid {
	background-color: #783caa;
}
#tttTitle {
	-webkit-text-stroke: 3px #783caa;
	color: white;
	text-shadow: #783caa;
	font-weight: 900;
}
.row{
	justify-content: center;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.form-control{
    border-radius: 25px
}
#game-name{
    color:white;
}
.btn{
    border: none;
    border-radius: 25px;
    width: 150px;
}
.btn-default{
    background-color: white;
}
#code-student{
    justify-content: space-evenly;
}
h3{
    text-align: center;
}
.card{
    margin: 10px;
}
.card-header{
    color: white;
}
#card-o{
    background-color: #ffb1b1;
    border: 5px solid #db3636;
    border-radius: 25px;
}
#card-x{
    background-color: #a8edff;
    border: 5px solid #3567db;
    border-radius: 25px;
}
li{
    border: none;
    border-radius: 25px;
    margin: 10px;
}
.id-list{
    border: none;
    border-radius: 25px;
    margin: 10px;
}